body {
    background-color: var(--bg1) !important;
}

.row,
.section,
.list-create {
    background-color: transparent !important;
}

#app,
.n .n-inner,
.main-container,
.app-layout[data-v-0b4aa428] {
    background-color: var(--bg1);
}

.Share_boxBottom__Jd2IC,
.section-title-v2-wrapper .title-left .week-day-wrapper,
.bili-header-m .nav-search .nav-search-btn,
.international-header .nav-search .nav-search-btn {
    background-color: var(--bg3)
}

.title,
.filter-title,
.section-title,
.bangumi-item .bangumi-title,
.home-cell-desc-title[data-v-4e870946],
.recommend_wrap__PccwM .recommend_title__WVBlM .timeline-weekday-item .weekday-description .timeline-item-title,
.home-cell-desc-title[data-v-350d21cc] {
    color: var(--text1) !important;
}

a,
.section,
body a,
.bili-footer .other-link,
.numberListItem_title__LNXrS,
.game-card__info-title[data-v-4810cbd0],
.room-list .list-item .uname[data-v-5e2bd0c0],
.mini-type .nav-user-center .user-con .item .name,
.Phone_mobile_more__xZsEx .Phone_mobile_tip__IoDeL,
.WatchInfo_watch_more__i86HL .WatchInfo_title__a4Pv9,
.user-info .user-info-title .info-title[data-v-31d5659a],
.rankTab_sponsor_rank_tab__Qk5Ir li.rankTab_tab_item__oa3xj,
#page-index .col-2 .section .user-auth.no-auth .no-auth-title .goto-auth,
.home-cell-desc-subtitle[data-v-4e870946],
.with-up-space[data-v-4e870946],
.home-cell-desc-subtitle[data-v-350d21cc],
.with-up-space[data-v-350d21cc],
.Phone_mobile_more__xZsEx .Phone_top_wrapper__LVs8D .Phone_video_title__8fHdx,
.sponsor_sponsor_module__cx4yJ .sponsor_sponsor_info__BZrNc .sponsor_btn_show_rank__cSUgT,
.rankView_sponsor_rank_module___oZve .rankView_sponsor_rank_header__49tEi .rankView_title__2ijOf,
.rankList_sponsor_rank_item__rh5UM.rankList_pos_rank_module__3a5ec .rankList_sp_right__DejvD .rankList_sp_msg__HK3f1,
#home_v3_mod_index.home-index-wrapper.inner-content-wrapper .inner-content-body .inner-content-item-index .item-link-a,
#home_v3_mod_index.home-index-wrapper.inner-content-wrapper .inner-content-body .inner-content-item-index .item-link-a-year,
.international-header .mini-type .nav-link .nav-link-ul .nav-link-item .link,
.van-popover .mini-type .nav-link .nav-link-ul .nav-link-item .link,
.international-header .mini-type .nav-link .nav-link-ul .nav-link-item .link:hover,
.van-popover .mini-type .nav-link .nav-link-ul .nav-link-item .link:hover {
    color: var(--text2 );
}

.sort-item,
.international-footer a,
.sub-reply-item .sub-user-info .sub-user-name[data-v-26797283],
.reply-item .root-reply-container .content-warp .user-info .user-name[data-v-eb69efad],
.RecommendItem_wrap__5sPoo .RecommendItem_right_wrap__DJpVw .RecommendItem_title__jBsvL,
.section-title-v2-wrapper .title-left .week-day-wrapper .week-day-item {
    color: var(--text3);
}

.international-footer .link-box .link-item.link-c p {
    color: var(--text4);
}

.col-1,
#page-index .col-1,
.international-footer,
.header-channel-fixed-right-item,
.nav-tool-container a[data-v-7ed02028],
.bili-header .bili-header__channel .channel-entry-more__link,
.bili-header .bili-header__channel .channel-link {
    background-color: var(--graph_bg_regular);
    color: var(--text2);
}

#home_v3_mod_index.home-index-wrapper.inner-content-wrapper .inner-content-body .inner-content-item-index .index-categary-head svg path {
    stroke: #eee;
}

.SectionSelector_SectionSelector__TZ_QZ .SectionSelector_expand__VjjPD {
    background: linear-gradient(270deg, #151515 46.21%, hsla(210, 8%, 95%, 0));
}

.mediainfo_mediaRight__SDOq4 .mediainfo_media_desc_section__Vkt2t .mediainfo_display_area__ggRQT .mediainfo_ellipsis__gHItY {
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #000000 20%, #000000);
}

.mediainfo_mediaToolbar__8Q7bn .mediainfo_btnHome__P2fri {
    color: #222;
}

input,
textarea {
    background: transparent !important;
}

.mini-header {
    background: var(--bg1);
}

.n .n-inner {
    box-shadow: 0 0 0 1px #222;
}

.col-2 .section {
    background-color: var(--graph_bg_regular) !important;
}

.col-1,.col-2 .section {
    border: #111 solid 1px !important;

}

.col-1 .section {
    border-bottom: 1px solid #eee !important;
}
